#start-screen {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-image: url('../src/assets/images/start_screen_bg.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    z-index: 1;
}
#intro-text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    p {
        width: 69%;
        padding: 10px;
        font-family: 'Nanum Pen Script', cursive;
        font-size: 20px;
    }
    h1 {
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 20px;
        font-family: 'Chewy', cursive;
        font-size: 32px;
    }
}

#start-screen{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    label {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: row;
        font-family: 'Chewy', cursive;
        font-size: 20px;
    }
}

#pet-select {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

#start-button {
    display: flex;
    width: 100%;
    justify-content: center;
}

img.pet-type {
    width: 30%;
    height: 30%;
    border: 5px solid gray;
    border-radius: 3px;
}

img.pet-type.selected {
    width: 30%;
    height: 30%;
    border: 5px solid yellow;
    border-radius: 3px;
}


#end-screen{
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: red;
    z-index: 1;
}
