#world {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

#two-plain {
    position: fixed;
    top: 0;
    left: 0;
}


#instructions {
    position: absolute;
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 12px;
    width: 100%;
    display: flex;
    bottom: 6%;
    justify-content: center;
}

header {
    position: fixed;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    z-index: 3;
    font-family: 'Rubik Mono One', sans-serif;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    background-color: brown;
    color: white;
    z-index: 2;
    align-items: center;
    display: none;
}

a {
    display: block;
}

ul.header-list {
    display: flex;
    flex-direction: row;
}

ul.header-list > li {
    border: 1px white solid;
    font-size: smaller;
    padding: 15px;
    display: flex;
    align-items: center;
}

ul.header-list li:hover {
    background-color: black;
}
