#world {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    // width: 100%;
    // height: 100%;
    // display: flex;
    // justify-content: center;
    // align-items: center;
}

#two-plain {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
// #world {
//     background: #81eefc;
//     position: absolute;
//     height: 100%;
//     width: 100%;
//     overflow: hidden;
// }


#instructions {
    position: absolute;
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 12px;
    width: 100%;
    display: flex;
    bottom: 6%;
    justify-content: center;
}

#my-links {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    bottom: 20%;
}
